@model InterviewDevTest.Models.BoardGame

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BoardGame</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameGame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameGame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageAddress)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<div id="qunit"></div>
<div id="qunit-fixture"></div>
<script src="//code.jquery.com/qunit/qunit-1.14.0.js"></script>
<script src="~/Test/QUnitJs.js"></script>

<script type="text/javascript">
    function create() {
        var error = "";
        var boardGame = new createObj();
        error = validate(boardGame);
        if (error == "") {
            $.ajax({
                type: "POST",
                data: JSON.stringify(boardGame),
                url: "http://localhost:12081/api/boardGame/addBoardGame",
                contentType: "application/json",
                success: function () {
                    window.location.href = "http://localhost:10482/";
                }
            });
        }
        else {
            alert(error);
        }
    }

    function createObj() {
        var boardGame = new Object();
        boardGame.nameGame = $("#NameGame").val()
        boardGame.brand = $("#Brand").val();
        boardGame.fromAge = $("#FromAge").val();
        boardGame.imageAddress = $("#ImageAddress").val();
        return boardGame;
    }

    function validate(boardGame) {
        var error = "";
        if (boardGame.nameGame == "") {
            error += "Must type a name ";
        }
        if (boardGame.brand == "") {
            error += "Must type a brand ";
        }
        if (boardGame.fromAge == "") {
            error += "Must type minimal age ";
        }
        if (boardGame.imageAddress == "") {
            error += "Must type image ";
        }
        return error;
    }

    QUnit.test('validate', function (assert) {
        assert.notEqual(errorTest, "");
        assert.equal(errorTest, "");
    });

</script>